.oss-btn {
  font-family: 'LocalizaDinDisplay_Bold';
  font-size: 12px;
  background: #d4db25;
  display: inline-block;
  text-transform: uppercase;
  height: 33px;
  line-height: 33px !important;
  color: #005f3b;
  padding: 0 10px; }
.roteiros .oss-btn{
	width:150px;
	text-align:center;
}
.oss-btn.green-02{
  background: #d3da26;
  color: #005f3b;
}
.oss-btn.full{
  position: absolute;
  bottom: 13px;
  right: 13px;
  left: 13px;
  font-size: 11px !important;
  padding-top:2px !important;
}
  .oss-btn:hover {
    -webkit-box-shadow: inset 0 -10px 30px -10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 -10px 30px -10px rgba(0, 0, 0, 0.5);
    text-decoration: none; }
  .oss-btn:after {
    content: '';
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbn");
    width: 9px;
    height: 10px;
    background-size: 100%;
    display: inline-block;
    margin-left: 6px; }
  .oss-btn--contrasted {
    background: #005f3b;
    color: #fff; }
    .oss-btn--contrasted:after {
      content: '';
      background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbn");
      width: 9px;
      height: 10px;
      background-size: 100%;
      display: inline-block;
      margin-left: 6px; }
  .combo.green-02 .oss-btn--contrasted, .box-700-roteiros .oss-btn--contrasted {
    float: right;
    color:#fff;
  }

.oss-code {
  font-size: 10px;
  font-family: 'LocalizaDinDisplay_Regular'; }
  .oss-code strong {
    font-family: 'LocalizaDinDisplay_Bold'; }

#oss{
  width: 626px;
}
#oss .combo p{
  margin:0;
}
#oss .combo__pricing {
  position: relative;
  font-family: 'LocalizaDinDisplay_Regular';
  background: #d4db25;
  padding: 30px 13px 15px 13px;
  float: right;
  text-align: right;
  width: 229px;
  height: 256px;
  box-sizing: border-box;
  margin: 22px 21px 0 0;
  color: #00984b; }
  #oss .combo__pricing:after {
    content: "";
    display: block;
    clear: both; }
  #oss .combo__pricing * {
    line-height: 1em; }
#oss .combo.green-02 .combo__pricing{
  background: transparent;
  padding: 0;
  width: 400px;
}
#oss .combo__from {
  font-size: 24px;
  display: block;
  margin: 0 2px 16px; }
#oss .combo__by {
  font-family: 'LocalizaDinDisplay_Bold';
  color: #005f3b;
  font-size: 24px;
  display: block;
  margin-bottom: 4px; }
  #oss .combo__by * {
    display: inline-block; }
#oss .combo.green-02 .combo__by {
  width: 200px;
  border: solid #005f3b;
  border-width: 1px 0;
  margin: 15px 0;
  padding: 10px 0;
  margin-left:200px;
}
#oss .combo.green-02.roteiros .combo__by{
	border-width:1px 0 0;
}
#oss .combo.green-02 .combo__subdivision {
  float: right;
  width: 100%;
}
#oss .combo__tit {
	font-family: 'LocalizaDinDisplay_BdIt';
	font-size:31px;
}
#oss .combo__tit.tit-green{
	color:#005f3b;
}
#oss .combo__prep {
  font-family: 'LocalizaDinDisplay_Regular';
  font-size: 13px; }
#oss .combo__prep.font_plus{
	font-size:20px;
}
#oss .combo.green-02 .combo__prep{
	padding-right:5px;
}
#oss .combo__value {
  font-size: 48px;
  height: 44px;
  font-weight: bold;
  position: relative;
  overflow: visible; }
  #oss .combo__value:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 176px;
    background: #005f3b; }
  #oss .combo.green-02 .combo__value:after {
    width: 0;
  }
#oss .combo__currency {
  font-size: 23px;
  margin-right: -4px; }
#oss .combo__final-price {
  font-family: 'LocalizaDinDisplay_Medium';
  color: #005f3b;
  text-transform: uppercase;
  font-size: 13px;
  display: block; }
#oss .combo.green-02 .combo__final-price{
	font-size:20px;
	text-transform:none;
}
#oss .combo.green-02 .combo__final-price strong{
	font-family: 'LocalizaDinDisplay_Bold';
}
#oss .combo__subdivision {
  display: block;
  font-family: 'LocalizaDinDisplay_Regular';
  font-size: 15px;
  margin: 20px 0; }
  #oss .combo__subdivision .qty {
    font-family: 'LocalizaDinDisplay_Bold';
    font-size: 17px; }
#oss .combo__oss-btn {
  position: static; }

#oss .call-to-action {
  background: #00984b;
  text-align: center;
  padding: 15px 100px 14px 20px;
  position: relative;
  margin: 40px 0; }
  #oss .call-to-action__desc {
    color: #fff;
    font-size: 20px;
    font-family: 'LocalizaDinDisplay_MdIt';
    line-height: 31px;
    margin: 0;
    width: 476px; }
    #oss .call-to-action__desc strong {
      color: #d4db25;
      font-family: 'LocalizaDinDisplay_MdIt'; }
  #oss .call-to-action__discount {
    font-size: 55px;
    vertical-align: middle;
    font-family: 'LocalizaDinDisplay_BdIt'; }
  #oss .call-to-action__btn {
    position: absolute;
    right: 22px;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  #oss .call-to-action__code {
    position: absolute;
    bottom: -20px;
    right: 0; }

#oss .combo {
  background: #00984b;
  position: relative;
  height: 300px;
  margin: 37px 0; }

#oss .combo.green-02 {
  background: #d4db26;
}
  #oss .combo__title {
    position: absolute;
    top: 0;
    left: 0;
    background: #005f3b;
    border-bottom-right-radius: 10px;
    font-family: 'LocalizaDinDisplay_Light';
    color: #fff;
    font-size: 17px;
    min-width: 127px;
    font-weight: normal;
    line-height: 16px;
    text-indent: 20px;
    padding: 10px 9px 8px; }
    #oss .combo__title strong {
      color: #d4db25;
      font-size: 24px;
      font-weight: normal;
      font-family: LocalizaDinDisplay_Bold; }
  #oss .combo__car-desc {
    text-transform: uppercase;
    font-family: 'LocalizaDinDisplay_BdIt';
    color: #fff;
    font-size: 21px;
    position: absolute;
    top: 60px;
    left: 20px;
    line-height: 22px; }
  #oss .combo.green-02 .combo__car-desc {
    top: 20px;
    color:#005f3b;
  }
  #oss .combo.green-02 .combo__car-desc span,
  #oss .combo.green-02 .combo__car-desc strong{
	color:#00984a;
}
    #oss .combo__car-desc strong {
      font-family: 'LocalizaDinDisplay_Bold';
      color: #d4db25;
      font-size: 16px;
      line-height: 17px;
      text-transform: none;
      font-weight: normal;
      display: inline-block;
      margin-top: 5px; }
  #oss .combo__car-picture {
    position: absolute;
    left: 50px;
    bottom: 23px; }
  #oss .combo__car-picture.ford-ka {
    left: 0;
    bottom: 5px; }
  #oss .combo__ilustrative {
    display: inline-block;
    font-size: 10px;
    color: #fff;
    position: absolute;
    right: 280px;
    bottom: 20px; }
  #oss .combo.green-02 .combo__ilustrative {
    color:#005f3b;
  }
  #oss .combo__host-desc,
  #oss .combo__host-desc-int {
    text-transform: uppercase;
    font-size: 22px;
    position: absolute;
    top: 21px;
    right: 270px;
    line-height: 1;
    text-align: right;
    width: 159px;
    height: 44px; }
  #oss .combo__host-desc-int {
    position: relative;
    top: 0;
    right: -45px;
  }
    #oss .combo__host-desc strong,
    #oss .combo__host-desc-int strong {
      font-family: 'LocalizaDinDisplay_Bold';
      color: #d4db25;
      font-size: 14px;
      line-height: 16px;
      text-transform: none;
      font-weight: normal;
      display: inline-block;
      text-wrap: normal; }
    #oss .combo__host-desc-int strong {
      color: #005f3b;
    }
  #oss .combo__parc-big {
    position:absolute;
    top: 135px;
    right: 13px;
  }
  #oss .combo__parc-big .combo__value{
    font-size: 57px;
    color: #005e36;
  }
  #oss .combo__parc-big .combo__value small{
    position: relative;
    top: -18px;
    font-size: 30px;
  }
  #oss .combo__parc-big .combo__parc{
    font-family: 'LocalizaDinDisplay_Regular';
    font-size: 31px;
    color: #005e36;
  }
  #oss .combo__parc-big .combo__currency{
    font-size: 21px;
    color: #005e36;
  }
  #oss .combo__host-qty {
    font-size: 60px;
    line-height: 48px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    color: #d4db25;
    font-family: 'LocalizaDinDisplay_Bold'; }
  #oss .combo__host-desc-int .combo__host-qty{
    color:#005f3b;
  }
  #oss .combo__host-days {
    font-size: 34px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    color: #d4db25;
    font-family: 'LocalizaDinDisplay_Bold'; }
  #oss .combo__host-desc-int .combo__host-days{
    color:#005f3b;
  }
  #oss .combo__host-include {
    font-size: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    color: #d4db25;
    font-family: 'LocalizaDinDisplay_Regular';
    line-height: 12px; }
  #oss .combo__host-desc-int .combo__host-include{
    color:#005f3b;
    font-size: 14px;
  }
  #oss .combo__host-disc {
    text-transform: none;
    color: #fff;
    font-family: 'LocalizaDinDisplay_Regular';
    text-wrap: normal;
    font-size: 15px;
    line-height: 14px;
    display: inline-block;
    position: absolute;
    bottom: -37px;
    right: 0; }
  #oss .combo__host-desc-int .combo__host-disc{
    color:#00984b;
  }
  #oss .combo__code {
    position: absolute;
    bottom: -20px;
    right: 0; }

#oss .lst-details {
  color:#2d2d2d;
  font-size:14px;
  margin:0 0 20px;
  padding:0;
}
#oss .lst-details li {
  padding: 0 0 20px 10px;
}
#oss .lst-details li:before{
	content:"";
	display:block;
	width:4px;
	height:4px;
	background:#2d2d2d;
	margin:0 0 -12px -10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#oss .terms-conditions{
	float:left;
	width:100%;
	margin:50px 0 0;
}
#oss .no-border,
#oss .no-border:after{
  background:none;
  border:none;
}

#oss .combo.green-02.roteiros{
	width:650px !important;
}

/* Produtos e Serviços - Localiza Way */

.localiza-way{
	display:table;
}
.localiza-way .secao{
	float:left;
}
.localiza-way .secao:first-child p{
	margin-top: 15px;
    margin-bottom: 37px;
    width: 736px;
    font-size: 14px;
}
.localiza-way .secao:first-child span{
	font-weight: bold;
}
.localiza-way .bold{
	font-weight: bold;
    margin-top: 33px;
    margin-bottom: 40px;
}
.localiza-way .secao:last-child > p{
	margin-top: 20px;
	margin-bottom: 20px;
}
.localiza-way .listas{
	float: left;
	margin-bottom: 30px;
}
.localiza-way .listas:last-child{
	margin-left: 80px;
}
.localiza-way .icon-arrow-right{
	width:10px;
	height:10px;
	background-position:-229px -5px;
}

/* Produtos e Serviços - Business Fácil */

.business-facil{
	font:20px LocalizaDinDisplay_Regular;
	color:#5c5c5c;
	letter-spacing:-1px;
}
.business-facil figure{
	margin:0;
}
.business-facil .text-business{
	display:inline-block;
	width:500px;
	margin:40px 0 0 50px;
}
.business-facil .text-business p{
	margin:0 0 25px;
}
.business-facil .text-business strong{
	font:20px LocalizaDinDisplay_Bold;
}
.business-facil .text-business .destaque{
	text-transform:uppercase;
	font:400 20px LocalizaDinDisplay_Bold;
	color:#0c984b;
	font-weight:700;
}
.business-facil .text-business .btn{
	font-size:16px;
}
.business-facil .text-business .verde{
	color:#0c984b;
}
.business-facil .text-business .verde .preco{
	font-size:30px;
}
.business-facil .text-business .slogan{
	margin:30px 0;
	font:24px LocalizaDinDisplay_Italic;
	text-transform:uppercase;
	color:#0c984b;
	line-height:24px;
}
.business-facil .text-business .slogan .empresa{
	font-family:LocalizaDinDisplay_BdIt;
}
.business-facil .text-business .slogan .slogan-empresa{
	font:400 20px LocalizaDinDisplay_Regular;
	color:#0e5837;
	text-transform:none;
	line-height:20px;
}
.business-facil .box-oferta{
	display:inline-block;
	position:relative;
	width:240px;
	padding:10px 25px 25px;
	margin:0 0 0 90px;
	z-index:1000;
	border:1px dashed #0c984b;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align:center;
	top:-120px
}
.business-facil .box-oferta h3{
	width:80px;
	font-family:LocalizaDinDisplay_Regular;
	font-size:24px;
	color:#0c984b;
	margin:-27px auto 0;
	padding: 0 10px;
	background-color:#fff;
}
.business-facil .box-oferta .preco{
	position:relative;
	float:left;
	width:240px;
	font-size:29px;
	color:#cadb2a;
	text-align:center;
}
.business-facil .box-oferta .preco span{
	display:block;
	float:left;
}
.business-facil .box-oferta .preco .cifra{
	margin-left:12px;
}
.business-facil .box-oferta .preco .valor{
	font-family:LocalizaDinDisplay_Bold;
	font-size:87px;
	margin:-5px 0 0 5px;
	line-height:87px;
}
.business-facil .box-oferta .diferencial{
	font-size:24px;
	color:#5c5c5c;
	line-height:24px;
}
.business-facil .box-oferta .diferencial .fase-1{
	padding-bottom: 35px;
	margin-bottom:5px;
	background: url('/brasil-site/pt-br/produtos-e-servicos/PublishingImages/seta-oferta.png') center bottom no-repeat;
}
.business-facil .box-oferta .diferencial .destaque{
	font-family:LocalizaDinDisplay_Bold;
	font-size:33px;
	color:#0c984b;
	text-transform:uppercase;
	line-height:33px;
}
.business-facil small{
	font:400 12px OpenSans, sans-serif;
}

/* 700 Roteiros */

.box-700-roteiros .icon-arrow-right{
	width:10px;
	height:10px;
	background-position:-229px -5px;
}

.box-700-roteiros *, .box-700-roteiros *:before, .box-700-roteiros *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.box-700-roteiros {width:950px; margin:-30px auto 0; font-family:'Trebuchet MS';}

.box-700-roteiros .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

    .box-700-roteiros .container:before, .box-700-roteiros .container:after {
        display: table;
        content: " ";
    }

    .box-700-roteiros .container:after {
        clear: both;
    }

    .box-700-roteiros .container:before, .box-700-roteiros .container:after {
        display: table;
        content: " ";
    }

    .box-700-roteiros .container:after {
        clear: both;
    }

.box-700-roteiros .row {
    margin-right: -15px;
    margin-left: -15px;
}

    .box-700-roteiros .row:before, .box-700-roteiros .row:after {
        display: table;
        content: " ";
    }

    .box-700-roteiros .row:after {
        clear: both;
    }

    .box-700-roteiros .row:before, .box-700-roteiros .row:after {
        display: table;
        content: " ";
    }

    .box-700-roteiros .row:after {
        clear: both;
    }

.box-700-roteiros .col-xs-1, .box-700-roteiros .col-xs-2, .box-700-roteiros .col-xs-3, .box-700-roteiros .col-xs-4, .box-700-roteiros .col-xs-5, .box-700-roteiros .col-xs-6,
.box-700-roteiros .col-xs-7, .box-700-roteiros .col-xs-8, .box-700-roteiros .col-xs-9, .box-700-roteiros .col-xs-10, .box-700-roteiros .col-xs-11, .box-700-roteiros .col-xs-12,
.box-700-roteiros .col-sm-1, .box-700-roteiros .col-sm-2, .box-700-roteiros .col-sm-3, .box-700-roteiros .col-sm-4, .box-700-roteiros .col-sm-5, .box-700-roteiros .col-sm-6,
.box-700-roteiros .col-sm-7, .box-700-roteiros .col-sm-8, .box-700-roteiros .col-sm-9, .box-700-roteiros .col-sm-10, .box-700-roteiros .col-sm-11, .box-700-roteiros .col-sm-12,
.box-700-roteiros .col-md-1, .box-700-roteiros .col-md-2, .box-700-roteiros .col-md-3, .box-700-roteiros .col-md-4, .box-700-roteiros .col-md-5, .box-700-roteiros .col-md-6,
.box-700-roteiros .col-md-7, .box-700-roteiros .col-md-8, .box-700-roteiros .col-md-9, .box-700-roteiros .col-md-10, .box-700-roteiros .col-md-11, .box-700-roteiros .col-md-12,
.box-700-roteiros .col-lg-1, .box-700-roteiros .col-lg-2, .box-700-roteiros .col-lg-3, .box-700-roteiros .col-lg-4, .box-700-roteiros .col-lg-5, .box-700-roteiros .col-lg-6,
.box-700-roteiros .col-lg-7, .box-700-roteiros .col-lg-8, .box-700-roteiros .col-lg-9, .box-700-roteiros .col-lg-10, .box-700-roteiros .col-lg-11, .box-700-roteiros .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.box-700-roteiros .col-md-1, .box-700-roteiros .col-md-2, .box-700-roteiros .col-md-3, .box-700-roteiros .col-md-4, .box-700-roteiros .col-md-5, .box-700-roteiros .col-md-6, .box-700-roteiros .col-md-7, .box-700-roteiros .col-md-8, .box-700-roteiros .col-md-9, .box-700-roteiros .col-md-10, .box-700-roteiros .col-md-11 {
        float: left;
    }

    .box-700-roteiros .col-md-1 {
        width: 8.333333333333332%;
    }

    .box-700-roteiros .col-md-2 {
        width: 16.666666666666664%;
    }

    .box-700-roteiros .col-md-3 {
        width: 25%;
    }

    .box-700-roteiros .col-md-4 {
        width: 33.33333333333333%;
    }

    .box-700-roteiros .col-md-5 {
        width: 41.66666666666667%;
    }

    .box-700-roteiros .col-md-6 {
        width: 50%;
    }

    .box-700-roteiros .col-md-7 {
        width: 58.333333333333336%;
    }

    .box-700-roteiros .col-md-8 {
        width: 66.66666666666666%;
    }

    .box-700-roteiros .col-md-9 {
        width: 75%;
    }

    .box-700-roteiros .col-md-10 {
        width: 83.33333333333334%;
    }

    .box-700-roteiros .col-md-11 {
        width: 91.66666666666666%;
    }

    .box-700-roteiros .col-md-12 {
        width: 100%;
    }

    .box-700-roteiros .col-md-push-0 {
        left: auto;
    }

    .box-700-roteiros .col-md-push-1 {
        left: 8.333333333333332%;
    }

    .box-700-roteiros .col-md-push-2 {
        left: 16.666666666666664%;
    }

    .box-700-roteiros .col-md-push-3 {
        left: 25%;
    }

    .box-700-roteiros .col-md-push-4 {
        left: 33.33333333333333%;
    }

    .box-700-roteiros .col-md-push-5 {
        left: 41.66666666666667%;
    }

    .box-700-roteiros .col-md-push-6 {
        left: 50%;
    }

    .box-700-roteiros .col-md-push-7 {
        left: 58.333333333333336%;
    }

    .box-700-roteiros .col-md-push-8 {
        left: 66.66666666666666%;
    }

    .box-700-roteiros .col-md-push-9 {
        left: 75%;
    }

    .box-700-roteiros .col-md-push-10 {
        left: 83.33333333333334%;
    }

    .box-700-roteiros .col-md-push-11 {
        left: 91.66666666666666%;
    }

    .box-700-roteiros .col-md-pull-0 {
        right: auto;
    }

    .box-700-roteiros .col-md-pull-1 {
        right: 8.333333333333332%;
    }

    .box-700-roteiros .col-md-pull-2 {
        right: 16.666666666666664%;
    }

    .box-700-roteiros .col-md-pull-3 {
        right: 25%;
    }

    .box-700-roteiros .col-md-pull-4 {
        right: 33.33333333333333%;
    }

    .box-700-roteiros .col-md-pull-5 {
        right: 41.66666666666667%;
    }

    .box-700-roteiros .col-md-pull-6 {
        right: 50%;
    }

    .box-700-roteiros .col-md-pull-7 {
        right: 58.333333333333336%;
    }

    .box-700-roteiros .col-md-pull-8 {
        right: 66.66666666666666%;
    }

    .box-700-roteiros .col-md-pull-9 {
        right: 75%;
    }

    .box-700-roteiros .col-md-pull-10 {
        right: 83.33333333333334%;
    }

    .box-700-roteiros .col-md-pull-11 {
        right: 91.66666666666666%;
    }

    .box-700-roteiros .col-md-offset-0 {
        margin-left: 0;
    }

    .box-700-roteiros .col-md-offset-1 {
        margin-left: 8.333333333333332%;
    }

    .box-700-roteiros .col-md-offset-2 {
        margin-left: 16.666666666666664%;
    }

    .box-700-roteiros .col-md-offset-3 {
        margin-left: 25%;
    }

    .box-700-roteiros .col-md-offset-4 {
        margin-left: 33.33333333333333%;
    }

    .box-700-roteiros .col-md-offset-5 {
        margin-left: 41.66666666666667%;
    }

    .box-700-roteiros .col-md-offset-6 {
        margin-left: 50%;
    }

    .box-700-roteiros .col-md-offset-7 {
        margin-left: 58.333333333333336%;
    }

    .box-700-roteiros .col-md-offset-8 {
        margin-left: 66.66666666666666%;
    }

    .box-700-roteiros .col-md-offset-9 {
        margin-left: 75%;
    }

    .box-700-roteiros .col-md-offset-10 {
        margin-left: 83.33333333333334%;
    }

    .box-700-roteiros .col-md-offset-11 {
        margin-left: 91.66666666666666%;
    }

.box-700-roteiros .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

    .box-700-roteiros .carousel-inner > .item {
        position: relative;
        display: none;
        -webkit-transition: .6s ease-in-out left;
        transition: .6s ease-in-out left;
    }

        .box-700-roteiros .carousel-inner > .item > img, .box-700-roteiros .carousel-inner > .item > a > img {
            display: block;
            height: auto;
            max-width: 100%;
            line-height: 1;
        }

    .box-700-roteiros .carousel-inner > .active, .box-700-roteiros .carousel-inner > .next, .box-700-roteiros .carousel-inner > .prev {
        display: block;
    }

    .box-700-roteiros .carousel-inner > .active {
        left: 0;
    }

    .box-700-roteiros .carousel-inner > .next, .box-700-roteiros .carousel-inner > .prev {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .box-700-roteiros .carousel-inner > .next {
        left: 100%;
    }

    .box-700-roteiros .carousel-inner > .prev {
        left: -100%;
    }

        .box-700-roteiros .carousel-inner > .next.left, .box-700-roteiros .carousel-inner > .prev.right {
            left: 0;
        }

    .box-700-roteiros .carousel-inner > .active.left {
        left: -100%;
    }

    .box-700-roteiros .carousel-inner > .active.right {
        left: 100%;
    }

.box-700-roteiros .carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
    opacity: .5;
    filter: alpha(opacity=50);
}

    .box-700-roteiros .carousel-control.left {
        background-image: -webkit-gradient(linear,0 top,100% top,from(rgba(0,0,0,0.5)),to(rgba(0,0,0,0.0001)));
        background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,0.5) 0),color-stop(rgba(0,0,0,0.0001) 100%));
        background-image: -moz-linear-gradient(left,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.0001) 100%);
        background-image: linear-gradient(to right,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.0001) 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',endColorstr='#00000000',GradientType=1);
    }

    .box-700-roteiros .carousel-control.right {
        right: 0;
        left: auto;
        background-image: -webkit-gradient(linear,0 top,100% top,from(rgba(0,0,0,0.0001)),to(rgba(0,0,0,0.5)));
        background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,0.0001) 0),color-stop(rgba(0,0,0,0.5) 100%));
        background-image: -moz-linear-gradient(left,rgba(0,0,0,0.0001) 0,rgba(0,0,0,0.5) 100%);
        background-image: linear-gradient(to right,rgba(0,0,0,0.0001) 0,rgba(0,0,0,0.5) 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#80000000',GradientType=1);
    }

    .box-700-roteiros .carousel-control:hover, .box-700-roteiros .carousel-control:focus {
        color: #fff;
        text-decoration: none;
        opacity: .9;
        filter: alpha(opacity=90);
    }

    .box-700-roteiros .carousel-control .icon-prev, .box-700-roteiros .carousel-control .icon-next, .box-700-roteiros .carousel-control .glyphicon-chevron-left, .box-700-roteiros .carousel-control .glyphicon-chevron-right {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 5;
        display: inline-block;
    }

    .box-700-roteiros .carousel-control .icon-prev, .box-700-roteiros .carousel-control .icon-next {
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        font-family: serif;
    }

        .box-700-roteiros .carousel-control .icon-prev:before {
            content: '\2039';
        }

        .box-700-roteiros .carousel-control .icon-next:before {
            content: '\203a';
        }

.box-700-roteiros .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

    .box-700-roteiros .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        border: 1px solid #fff;
        border-radius: 10px;
    }

    .box-700-roteiros .carousel-indicators .active {
        width: 12px;
        height: 12px;
        margin: 0;
        background-color: #fff;
    }

.box-700-roteiros .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

    .box-700-roteiros .carousel-caption .btn {
        text-shadow: none;
    }
    
.box-700-roteiros .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

    .box-700-roteiros .btn:focus {
        outline: thin dotted #333;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .box-700-roteiros .btn:hover, .box-700-roteiros .btn:focus {
        color: #333;
        text-decoration: none;
    }

    .box-700-roteiros .btn:active, .box-700-roteiros .btn.active {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
        box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    }

    .box-700-roteiros .btn.disabled, .box-700-roteiros .btn[disabled], .box-700-roteiros fieldset[disabled] .btn {
        pointer-events: none;
        cursor: not-allowed;
        opacity: .65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
.box-700-roteiros .fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

    .box-700-roteiros .fade.in {
        opacity: 1;
    }

.box-700-roteiros .collapse {
    display: none;
}

    .box-700-roteiros .collapse.in {
        display: block;
    }

.box-700-roteiros .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .35s ease;
    transition: height .35s ease;
}

.box-700-roteiros #content {margin-left:30px;}
.box-700-roteiros #content .navbar-form {padding:10px; background: #f1f1f1;}

.box-700-roteiros .pr20 {padding-right: 40px;}
.box-700-roteiros .pl20 {padding-left: 40px;}
.box-700-roteiros .mt10 {margin-top:10px!important;}
.box-700-roteiros .mb20 {margin-bottom: 20px;}
.box-700-roteiros .pb20 {padding-bottom: 20px;}

.box-700-roteiros .wizard-steps-5 li {width: 18.5%; margin:0 1.5% 0 0;}
.box-700-roteiros .wizard-steps b {display: block; padding-left:50px; font-weight: normal; margin-top:-30px; margin-bottom: -10px;}
.box-700-roteiros .wizard-steps {margin-top:65px; width: 660px; margin-left:45px; float:left; list-style: none; padding:0; border-radius:5px 5px 0px 0px; overflow: hidden; margin-bottom:-8px; position: relative; z-index:2;}
.box-700-roteiros .wizard-steps li {float:left;}
.box-700-roteiros .wizard-steps li a {background: #ebebeb; color:#ebebeb; padding:10px; display: block; text-align:center;}
.box-700-roteiros .wizard-steps li a span {background: #ddd; display: inline; padding:5px 10px; margin-right: 10px; color:#333; border-radius:50px;}
.box-700-roteiros .wizard-steps li.active a {background: #0b984a;}
.box-700-roteiros .wizard-steps li.completed a {background: #0b984a; color: #0b984a;}
.box-700-roteiros .wizard-content {padding-right:0px;}

.box-700-roteiros .box {background:#ebebeb; padding:20px; margin-bottom:65px;}
.box-700-roteiros .box .form-control {border:0px none; border-radius:0px; box-shadow:none; }

.box-700-roteiros .error {border:1px solid #ff0000!important}

.box-700-roteiros .lbl-s label {text-transform: initial!important; font-size: 12px; font-weight: normal; letter-spacing: 0px!important;}
.box-700-roteiros .lbl-sb label {text-transform: initial!important; font-size: 12px; letter-spacing: 0px!important;}

.box-700-roteiros .box label {text-transform:uppercase; color:#2d2d2d; letter-spacing:-1px; font-style: italic;}
.box-700-roteiros .box button {background:#d3db26; color:#024a34; text-transform: uppercase; border-radius:0px; border:0px none; font-size:12px; font-weight:bold; padding:15px 30px;}

.box-700-roteiros .form-group {margin-bottom:20px;}
.box-700-roteiros h5 {font-size:12px; font-style: italic; margin:30px 0px 0px 0px;}
.box-700-roteiros span.familiar {display: inline-block; width: 100%; font-size:12px; color:#00893B; font-weight:bold; margin-top:2px;}

.box-700-roteiros .textOther {margin-left:20px; padding-right:100px; display: none;}

.box-700-roteiros hr {border-color:#cccccc;}

.box-700-roteiros h4 {text-transform:uppercase; font-weight:bold; font-style: italic; font-size:12px; margin-bottom:10px;}
.box-700-roteiros h2 {color:#00974a; font-style: italic; font-size:22px; margin:40px 0px 10px; display:inline-block;}

.box-700-roteiros .form-horizontal > h5  {margin-top:0px;}
.box-700-roteiros .box > h5  {margin-top:0px;}

.box-700-roteiros .check-list label {width: 47%; margin-left:0px!important;}

.box-700-roteiros .inpText-list .form-group {width: 100%; display: inline-block; margin-left:-15px; margin-bottom:10px; margin-top:10px;}
.box-700-roteiros .inpText-list label {margin-left:-15px; margin-top:10px;}

.box-700-roteiros .form-verba {width: 25%!important;}

.box-700-roteiros .row-content {position:relative;}
.box-700-roteiros .side {position: absolute; right:15px; top:-60px;}

.box-700-roteiros .align.box-700-roteiros {width:920px;}
.box-700-roteiros .align.box-700-roteiros h2 {margin-left:-15px;}

.box-700-roteiros {color:#055d3c;}
.box-700-roteiros .banner {height: 38px; position:relative; margin-top:-50px;}
.box-700-roteiros .banner a {background:#d3db26; color:#024a34; text-transform: uppercase; border-radius:0px; border:0px none; font-size:14px; font-weight:bold; padding:10px 30px; position:absolute; bottom:30px; right:40px;}

.box-700-roteiros .box-carousel .btn-prev, .box-carousel .btn-next {width:44px; height:98px; background-image: url(/brasil-site/pt-br/ofertas/PublishingImages/700-roteiros/setas.png); display:inline-block; text-indent:-9999px;}
.box-700-roteiros .box-carousel .btn-next {background-position:bottom left; margin-left:-15px; margin-top:140px;}
.box-700-roteiros .box-carousel .btn-prev {margin-top:140px;}
.box-700-roteiros .box-carousel .btn-next:hover,.box-700-roteiros .box-carousel .btn-next.active {background-position: top right;}
.box-700-roteiros .box-carousel .btn-prev:hover,.box-700-roteiros .box-carousel .btn-prev.active {background-position: bottom right;}

.box-700-roteiros .box-carousel a.btn-roteiro {background:#d3db26; color:#024a34; text-transform: uppercase; border-radius:0px; border:0px none; font-size:12px; font-weight:bold; padding:8px 14px; margin-top:10px;}

.box-700-roteiros .box-carousel h3 {font-family: LocalizaDinDisplay_Regular; text-transform:uppercase; font-size:31px; letter-spacing:-2px; margin-bottom:10px; line-height:31px; color:#074b32;}
.box-700-roteiros .box-carousel h3 b, .box-700-roteiros .box-carousel .carousel-inner p b {font-family: LocalizaDinDisplay_Bold;}
.box-700-roteiros .box-carousel .carousel-inner p {font-family: LocalizaDinDisplay_Regular; font-size: 16px; line-height: 18px;}
.box-700-roteiros .box-carousel .carousel-inner {margin-top:72px;}

.box-700-roteiros .box-carousel .obsCarousel {font-family: LocalizaDinDisplay_Regular; font-size:15px; background:url("/brasil-site/pt-br/ofertas/PublishingImages/700-roteiros/dotted2.png") repeat-x top left; margin:0px 20px; padding:15px 0px; text-transform: uppercase; margin-top:20px; text-align:center;}
.box-700-roteiros .box-carousel .obsCarousel b {font-family: LocalizaDinDisplay_Bold;}

.box-700-roteiros .box-carousel .alignImg {margin-left:-40px;}

.box-700-roteiros .slogan {position:absolute; top:-110px; left:10px;}

.box-700-roteiros .box-carousel {}
.box-700-roteiros .box-sidebar {background:#d4db26; text-transform: uppercase;}
.box-700-roteiros .box-sidebar .ico {padding-top: 15px; background: url(/brasil-site/pt-br/ofertas/PublishingImages/700-roteiros/icos.jpg) no-repeat;}
.box-700-roteiros .box-sidebar .ico1 {background-position:left 8px;}
.box-700-roteiros .box-sidebar .ico2 {background-position:left -75px;}
.box-700-roteiros .box-sidebar .ico3 {background-position:left -170px;}
.box-700-roteiros .box-sidebar .ico3.ico p {padding-bottom:10px; background:none;}
.box-700-roteiros .box-sidebar .ico p {font-family: LocalizaDinDisplay_Regular; font-size:14px; margin-left:80px; line-height: 17px; background:url("/brasil-site/pt-br/ofertas/PublishingImages/700-roteiros/dotted.jpg") repeat-x bottom; padding-bottom:20px;}
.box-700-roteiros .box-sidebar .ico p span {font-size:17px; font-weight:bold;}
.box-700-roteiros .box-sidebar .ico p big {font-family: LocalizaDinDisplay_Bold; font-size:21px;}
.box-700-roteiros .box-sidebar .obs {font-family: LocalizaDinDisplay_Regular; font-size:17px; line-height: 17px; margin:15px 0;}
.box-700-roteiros .box-sidebar .obs b {font-family: LocalizaDinDisplay_Bold; color:#098039;}
.box-700-roteiros .box-sidebar h3 {font-family: LocalizaDinDisplay_Bold; color:#098039; margin:13px 0 0; font-size:25px; text-align:center;}

.box-700-roteiros .black, .box-700-roteiros .black-margin {color:#2d2d2d; font-size:15px;}

.box-700-roteiros .black-margin {margin-top:20px;}

.box-700-roteiros .promocao {margin:0px -15px; background: #00984b; padding:20px; position: relative; height:310px;}
.box-700-roteiros .promocao .selo {position:absolute; top:0; left:0; color:#fff; background:#005f3b; border-radius:0px 0px 20px 0px; width:135px; height:45px;}
.box-700-roteiros .promocao .infos .promo {background: #d4db25; float:left; width:230px; height:260px; padding:20px 13px;}
.box-700-roteiros .promocao .infos .promo-2 {float:right; text-align:center;}
.box-700-roteiros .promocao .infos .promo a {clear:both; background:#005f3c; color:#fff; text-transform: uppercase; border-radius:0px; border:0px none; font-size:11px; font-weight:bold; padding:10px 5px; width:100%; display:block; text-align:center;}
.box-700-roteiros .promocao .infos {position:absolute; top:25px; right:25px; width:480px;}
.box-700-roteiros .promocao .infos .ou {background:url(/brasil-site/pt-br/ofertas/PublishingImages/700-roteiros/or.png); width:76px; height:76px; position:absolute; margin:-40px 0px 0px -40px; top:50%; left:50%; text-indent:-9999px;}
.box-700-roteiros .promocao hr {border-color:#fff;}

.box-700-roteiros .promocao .promo-2 span {font-family: LocalizaDinDisplay_Medium; font-size:30px;}
.box-700-roteiros .promocao .promo-2 big {font-family: LocalizaDinDisplay_Bold; font-size:67px; color:#00984b; line-height: 50px; display:inline-block; width: 100%; margin-top:9px;}
.box-700-roteiros .promocao .promo-2 big span {font-family: LocalizaDinDisplay_Medium; font-size:23px; display:block; width:100%; line-height: 32px;}
.box-700-roteiros .promocao .promo-2 small {font-family: LocalizaDinDisplay_Medium; font-size:18px; line-height: 18px; margin-bottom:20px; display:inline-block; width:100%;}
.box-700-roteiros .promocao .promo-2 a {margin-top:10px;}

.box-700-roteiros .promocao .promoDetail {width:87%; margin: 0 auto;}
.box-700-roteiros .promocao .promoDetail big {font-family: LocalizaDinDisplay_Bold; color:#00984b; font-size: 86px; float:left; line-height: 70px; }
.box-700-roteiros .promocao .promoDetail p {font-family: LocalizaDinDisplay_Regular; font-size:15px; text-transform: uppercase; float:left; width:130px; letter-spacing: -1px; line-height: 16px;}
.box-700-roteiros .promocao .promoDetail p b {font-family: LocalizaDinDisplay_Bold; font-size:35px; display:inline-block; width: 100%; line-height: 36px;}
.box-700-roteiros .promocao .promoDetail p small {font-size:13px; display:inline-block; width:100%;}
.box-700-roteiros .promocao .promoDetail span {font-family: LocalizaDinDisplay_Bold; font-size:18px; font-weight:bold; letter-spacing:-1px; display:block; text-align:center; margin-top:-5px; float:left; width:100%; margin:-5px 0px 5px 0px;}
.box-700-roteiros .promocao hr {margin:5px auto; border-width:1px; width: 80%; border-color:#fff;}
.box-700-roteiros .promocao .price {font-family: LocalizaDinDisplay_Bold; position: relative; height: 60px; width: 80%; margin:10px auto 0;}
.box-700-roteiros .promocao .price span {font-size:29px; color:#00984b;}
.box-700-roteiros .promocao .price b {font-size:20px; position:absolute; bottom:5px; left:20px; line-height: 15px;}
.box-700-roteiros .promocao .price p {float:right; }
.box-700-roteiros .promocao .price p big {font-size:80px; line-height: 62px; letter-spacing:-2px;}
.box-700-roteiros .promocao .price p small {font-size:18px; vertical-align:top;}

.box-700-roteiros .promocao h4 {text-transform: uppercase; font-style: italic; color:#fff; font-size:18px; margin:30px 0px 0px 0px;}
.box-700-roteiros .promocao h6 {color:#d4db25; font-size:14px; font-weight:bold; margin-bottom:-10px; position:relative; width:100px; margin-top: 3px;}

.box-700-roteiros .promocao .selo b {font-size:20px; color:#d4db25; display:block; margin:15px 0px 0px 10px;}
.box-700-roteiros .promocao .selo small {position:absolute; font-size:16px; left:30px; top:5px;}

.box-700-roteiros .btn-avancar{background:#d3db26; color:#024a34; text-transform: uppercase; border-radius:0px; border:0px none; font-size:16px; font-weight:bold; padding:15px 30px; margin-top:20px; margin-bottom:50px;}

.box-700-roteiros .moreBox {background:url(/brasil-site/pt-br/ofertas/PublishingImages/700-roteiros/bgCarousel.jpg);}

.box-700-roteiros .unhappy{border: 2px solid #d92400!important;}
.box-700-roteiros .unhappyMessage{ font-size: 10px; color: #d92400; line-height: 14px;}
.box-700-roteiros .errorTwo, .box-700-roteiros .stp5-1, .box-700-roteiros .stp5-2, .box-700-roteiros .stp5-3{ font-size: 10px; color: #d92400; line-height: 14px;}
